body {
  margin: 0;
  padding: 0;
  border: 0;
}

.flex {
  display: flex;
}

/* Navbar */

.navbar {
  height: 100px;
  background-color: #696969		;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  
  /* font-family: Mija; */
}

.nav-logo {
  padding-top: 12%;
  height: 80px;
  width: auto;
}

.nav-text {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.fa-search {
  position: absolute;
  margin-top: 12px;
  margin-left: 5px;
}

a:last-of-type:hover {
  background: grey;
}

.searchbar {
  width: 300px;
  height: 55px;
  border-radius: 10px;
  border: 0;
  padding-left: 45px;
  font-size: 24px;
  color: rgba(49, 46, 46, 0.822);
  font-weight: bold;
}

/*  Section 1 */

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
  font-family: 'Francois One', sans-serif;
  color: white;
}

.articles .article-1 {
  height:778px;
  background-color: #696969	;
  text-align: center;
  padding: 80px;
  font-size: 3em;
}

.articles .article-2 {
  height:778px;
  background-color: #808080;
  text-align: center;
  padding: 80px;
  font-size: 3em;
}

.articles .article-3 {
  height:778px;
  background-color: #808080;
  text-align: center;
  padding: 80px;
  font-size: 3em;
}

.articles .article-4 {
  height:778px;
  background-color:#696969;
  text-align: center;
  padding: 80px;
  font-size: 3em;
}

/* Section 2 */

.sc2-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-evenly;
  margin: 10px;
}

.sc2-articles > * {
  height: 700px;
  background: #D3D3D3;
  padding: 50px;
}

.sc2-article-4 > h1, .sc2-article-9 > h1 {
  font-size: 3em;
  text-decoration: underline;
  text-decoration-color: #d33a2c;

  /* font-family: Mija; */
}

.sc2-article-4 > p, .sc2-article-9 > p {
  font-size: 1.2em;

  /* font-family: Elena; */
}

.sc2-article-4 > p:last-of-type, .sc2-article-9 > p:last-of-type {
  font-size: 1em;
}

.sc2-article-4 > p > a, .sc2-article-9 > p > a {
  color: white;

  /* font-family: Elena; */
}

.sc2-article-4 > a, .sc2-article-9 > a {
  color: #267dcc;
  font-size: 1.5em;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
}

.sc2-article-4, .sc2-article-9 {
  background: #696969	;
  border-radius: 20px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: white;
}

.sc2-img {
  height: 250px;
  width: auto;
}

/* Table of content */
.table-of-content {
  height: 100vh;
  background: #696969	
}

/* Community Links */

.community {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.person-1, .person-3, .person-5{
  background: #C0C0C0;
  height: 276px;
}

.person-2, .person-4, .person-6{
  background: #C0C0C0;
  height: 276px;
}

.person-of-the-week {
  height: 320px;
  background-color: #696969;
}

/* Featured */
.featured {
  height: 420px;
  background: #696969
}

/* Guides */
.guides {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
}

.guides > * {
  background-color: #D3D3D3;
  height: 790px;
}

.guide-4 {
  background: #696969;
  height: 790px;
}

/* Footer Section */

.ft {
  height: 630px;
  background-color: 696969;
}