body {
  margin: 0;
  padding: 0;
  border: 0;
}

.flex {
  display: flex;
}

/* Navbar */
.navbar {
  height: 100px;
  background-color: #494848;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  
  /* font-family: Mija; */
}

.nav-logo {
  padding-top: 12%;
  height: 80px;
  width: auto;
}

.nav-text {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.fa-search {
  position: absolute;
  margin-top: 12px;
  margin-left: 5px;
}

.searchbar {
  width: 300px;
  height: 55px;
  border-radius: 10px;
  border: 0;
  padding-left: 45px;
  font-size: 24px;
  color: rgba(49, 46, 46, 0.822);
  font-weight: bold;
}

/*  Section 1 */
.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
}

.articles .article-1 {
  height:778px;
  background-color: #726464;
}

.articles .article-2 {
  height:778px;
  background-color: rgb(173, 158, 158);
}

.articles .article-3 {
  height:778px;
  background-color: #9c8e8e;
}

.articles .article-4 {
  height:778px;
  background-color:#726464;
}