body {
  margin: 0;
  padding: 0;
  border: 0;
}

.flex {
  display: flex;
}

/* Navbar */

.navbar {
  height: 100px;
  background-color: #494848;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  
  /* font-family: Mija; */
}

.nav-logo {
  padding-top: 12%;
  height: 80px;
  width: auto;
}

.nav-text {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.fa-search {
  position: absolute;
  margin-top: 12px;
  margin-left: 5px;
}

.searchbar {
  width: 300px;
  height: 55px;
  border-radius: 10px;
  border: 0;
  padding-left: 45px;
  font-size: 24px;
  color: rgba(49, 46, 46, 0.822);
  font-weight: bold;
}

/*  Section 1 */

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
}

.articles .article-1 {
  height:778px;
  background-color: #726464;
}

.articles .article-2 {
  height:778px;
  background-color: rgb(173, 158, 158);
}

.articles .article-3 {
  height:778px;
  background-color: #9c8e8e;
}

.articles .article-4 {
  height:778px;
  background-color:#726464;
}

/* Section 2 */

.sc2-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-evenly;

}

.sc2-articles > * {
  height: 700px;
  background: blanchedalmond;
  margin: 10px;
}

.sc2-article-4, .sc2-article-9 {
  background: #636363;
  border-radius: 20px;
}

/* Table of content */
.table-of-content {
  height: 100vh;
  background: #D4D4D4
}

/* Community Links */

.community {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}



.community .person-1, .person-2, .person-3{
  grid-column: 1/2;
  background: rgb(169, 149, 189);
  height: 276px;
}

.community .person-4, .person-5, .person-6{
  grid-column: 2/3;
  background: rgb(74, 69, 78);
  height: 276px;
}

.person-of-the-week {
  grid-column: 1/3;
  background: rgb(64, 126, 62)21, 183);
  height: 276px;
}